Listen 5000
Listen 35357
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %D(us)" keystone_combined

<Directory /usr/local/bin>
    Require all granted
</Directory>

<VirtualHost *:5000>
    WSGIDaemonProcess keystone-public processes=5 threads=1 user=devuser display-name=%{GROUP} 
    WSGIProcessGroup keystone-public
    WSGIScriptAlias / /usr/local/bin/keystone-wsgi-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    ErrorLogFormat "%M"
    ErrorLog /var/log/apache2/keystone.log
    CustomLog /var/log/apache2/keystone_access.log keystone_combined
    
    <Location /Shibboleth.sso>
        SetHandler shib
     </Location>
     
     <Location /v3/OS-FEDERATION/identity_providers/myidp/protocols/mapped/auth>
        ShibRequestSetting requireSession 1
        AuthType shibboleth
        ShibExportAssertion Off
        Require valid-user
     
     </Location>    

    <Location ~ "/v3/auth/OS-FEDERATION/websso/mapped">
       AuthType shibboleth
       Require valid-user 
       ShibRequestSetting requireSession 1
       ShibRequireSession On
       ShibExportAssertion Off
     </Location> 
     <Location ~ "/v3/auth/OS-FEDERATION/identity_providers/myidp/protocols/mapped/websso">
       AuthType shibboleth
       Require valid-user
     </Location>
    
</VirtualHost>

<VirtualHost *:35357>
    WSGIDaemonProcess keystone-admin processes=5 threads=1 user=devuser display-name=%{GROUP} 
    WSGIProcessGroup keystone-admin
    WSGIScriptAlias / /usr/local/bin/keystone-wsgi-admin
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    ErrorLogFormat "%M"
    ErrorLog /var/log/apache2/keystone.log
    CustomLog /var/log/apache2/keystone_access.log keystone_combined
    
    
    
</VirtualHost>

#<VirtualHost *:443>
#    
#    
#    
#</VirtualHost>

Alias /identity /usr/local/bin/keystone-wsgi-public
<Location /identity>
    SetHandler wsgi-script
    Options +ExecCGI

    WSGIProcessGroup keystone-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
</Location>

Alias /identity_admin /usr/local/bin/keystone-wsgi-admin
<Location /identity_admin>
    SetHandler wsgi-script
    Options +ExecCGI

    WSGIProcessGroup keystone-admin
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
</Location>
<Location ~ "/identity/v3/auth/OS-FEDERATION/websso/mapped">
  AuthType shibboleth
  Require valid-user
  ShibRequestSetting requireSession 1
  ShibRequireSession On
  ShibExportAssertion Off
</Location>

WSGIScriptAliasMatch ^(/v3/OS-FEDERATION/identity_providers/.*?/protocols/.*?/auth)$ /usr/local/bin/keystone-wsgi-public/
